.sidebar-container-toggle::after, #site-name::before {
    content: "\00a0\00a0\00a0\00a0\00a0";
    background-image:url('/static/django_jet_example/img/rainbow.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
}
